* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.primary-button{
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    background-color: rgb(212, 40, 40);
    color: whitesmoke;
    border-radius: 1.3rem;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    outline: none;
    &:active{
        transform: scale(0.95);
    }
}